<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Підтримка</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Підтримка</h1>
<nav>
    <a th:href="@{/}">Головна</a>
    <a th:href="@{/support/new}">Додати Підтримку</a>
</nav>
<div class="container">
    <ul>
        <li th:each="support : ${supports}">
            <span th:text="${support.query}"></span>
            <span th:text="${support.response}"></span>
            <a th:href="@{/support/edit/{id}(id=${support.id})}">Редагувати</a>
            <a th:href="@{/support/delete/{id}(id=${support.id})}">Видалити</a>
        </li>
    </ul>
</div>
</body>
</html>
